<%- include("includes/head", {PageTitle: "Error"}) %>
<link rel="stylesheet" href="styles/forms.css">
<link rel="stylesheet" href="styles/auth.css">
</head>
<body>
  <%- include("includes/header") %>
  <div style="text-align: center ">
    <h1>You Are Not Authorized</h1>
    <p>Please Login As A Valid User</p>
    <a class="btn" href="/login">Login</a>
  </div>
<%- include("includes/footer") %>