<%- include("includes/head", {PageTitle: "Error"}) %>
<link rel="stylesheet" href="styles/forms.css">
<link rel="stylesheet" href="styles/auth.css">
</head>
<body>
  <%- include("includes/header") %>
  <div style="text-align: center ">
    <h1>Something wrong!!</h1>
    <p>Try again later</p>
    <a class="btn" href="/">Back to saftey</a>
  </div>
<%- include("includes/footer") %>