<header id="main-header">
  <div class="Ez"><a href="/">EZ Shop</a></div>
  <nav><%- include("nav-items") %></nav>
  <button class="mobile-btn">
    <span></span>
    <span></span>
    <span></span>
  </button>
</header>
<aside class="mobile-menu">
  <nav><%- include("nav-items") %></nav>
</aside>
